* {
  box-sizing: border-box;
}
.body {
  background: #fff;
  width: 100%;
  /* aspect-ratio: 5 / 3; */
  position: relative;
  margin: 0 auto;
}
.main {
  padding: 5rem 0;
}
.footer {

}
.left-up {
  overflow-y: auto;
}
.btn-zan {
  padding: 2rem;
}
.btn-zan:hover {
  box-shadow: 0 5px 10px #ccc;
  transform: translate(0, -2px);
}
.btn-all-can {
  padding: 2rem;
}
.btn-all-can:hover {
  box-shadow: 0 5px 10px #ccc;
  transform: translate(0, -2px);
}
.btn-amount {
  letter-spacing: .5rem;
  padding: 4rem;
}
.btn-amount:hover {
  box-shadow: 0 5px 10px #ccc;
  transform: translate(0, -2px);
}
.left-bottom-list {
  display: flex;
  justify-content: space-between;
}
.left-bottom-bar span {
  padding: .2rem .5rem;
  border: 1px solid #fff;
  margin-right: .5rem;

}
.left-bottom-bar {
  margin-top: 2rem;
  margin-bottom: .5rem;
  padding: .5rem 0 .6rem;
}
.left-bottom-list-item {
  width: 50%;
  padding: 0 3%;
}
.left-bottom-list-item:first-child {
  border-right: 1px solid #222;
}
.amount_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.amount_price {
  font-size: 2.5rem;
  text-align: right;
}
.left-up {
  margin-right: .5rem;
}
.item_list dd {
  font-size: 1.6rem;
  padding: .5rem 1.5rem .5rem .5rem;
  margin-left: .5rem;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 0;
}
.menu_list_item {
  width: calc(100% / 3);
  display: flex;
  z-index: 2;
  align-items: center;
}
.menu_list_item a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu_text_box {
  width: calc(100% - 100px - 1rem);
}
.items-center:hover {
  cursor: pointer;
}
.menu_list_item:hover {
  cursor: pointer;
}
.menu_img {
  margin-right: 1rem;
}
.menu_list_item.first-item {

}
.menu_list_item.first-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}
.menu_list.option_menu_list:after {
  content: "";
  width: calc((100% - 2rem) / 3);
  display: block;
  order: 1;
}
.menu_list.option_menu_list {
  gap: 1rem 1rem;
  width: 100%;
  margin: 0 auto;
}
.option_menu_list .menu_list_item {
  background-color: #eee;
  padding: 3rem 0;
 justify-content: center;
 width: calc((100% - 2rem) / 3);
}
.option_menu_list .menu_list_item a {
  justify-content: center;

}
.option_menu_list .menu_list_item.first-item {
  padding: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 5rem;
}
.option_menu_list .menu_list_item.first-item p {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.option_menu_list .menu_list_item.first-item img {
  width: 45%;
  height: auto;
  margin-right: 8rem;
}
